@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,9000&display=swap');

/*global styles*/
html {
    font-size: 15px;
}

:root {
    /*color schemes*/
    --c-green: #14a76c;
    --c-yellow: #ffe400;
    --c-orange: #ff652f;
    --c-grey: #747474;
    --c-black: #272727;

    /*font weight*/
    --w-normal: 300;
    --w-thick: 500;
    --w-thicker: 800;

    /*font size*/
    --s-small: .9rem;
    --s-regular: 1.1rem;
    --s-large: 1.4rem;
    --s-larger: 1.8rem;

    /*effects*/
    --b-radius: 10px;
    --b-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    cursor: default;
    background: var(--c-black);
    color: var(--c-grey);
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    margin: 15px 0;
    color: var(--c-orange);
    font-size: var(--s-larger);
    text-decoration: underline wavy var(--c-green) 5px;
}

h2 {
    margin: 10px 0;
    font-size: var(--s-large);
    color: var(--c-yellow);
}

h3 {
    margin: 5px 0;
    font-size: var(--s-regular);
    color: var(--c-green);
}

ul {
    list-style: none;
}

p {
    font-size: var(--s-regular);
}

b {
    color: var(--c-yellow);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

i {
    font-size: var(--s-larger);
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.no-decor {
    text-decoration: none;
}

.fullscreen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    min-height: 60%;
    max-height: 90%;
}

.summary {
    text-align: center;
}

.timeline {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    border-radius: var(--b-radius);
    background-color: var(--c-orange);
    top: 0;
    bottom: -10vh;
    left: 50%;
    margin-left: -3px;
}

.tl-container {
    padding: 5px 40px;
    position: relative;
    width: 40%;
}

/*.tl-container::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    right: -5%;*/
/*    background-color: var(--c-black);*/
/*    border: 4px solid var(--c-orange);*/
/*    top: 15px;*/
/*    border-radius: 50%;*/
/*    z-index: 1;*/
/*}*/

.tl-left {
    left: 2%;
}

.tl-left::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgba(0,0,0,0.5);
}

.tl-right {
    left: 52%;
}

.tl-right::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(0,0,0,0.5) transparent transparent;
}

.tl-right::after {
    left: -16px;
}

.tl-content {
    padding: 20px;
    background-color: rgba(0,0,0,0.3);
    position: relative;
    border-radius: var(--b-radius);
    box-shadow: var(--b-shadow);
}

.tab-bar {
    background-color: rgba(0,0,0,0.3);
    box-shadow: var(--b-shadow);
    border-radius: var(--b-radius);
    padding: 3px;
    display: flex;
    justify-content: space-between;
}

.tab-content {
    padding: 2%;
    margin-top: 20px;
}

.tab-content li {
    width: 33%;
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: var(--b-radius);
    box-shadow: var(--b-shadow);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--c-black);
    border-radius: var(--b-radius);
    box-shadow: var(--b-shadow);
}

::-webkit-scrollbar-thumb {
    background: var(--c-grey);
    border-radius: var(--b-radius);
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

/*other styles*/
#intro {
    /*background: rgba(0,0,0,0.3) url("/images/intro-bg.jpg") no-repeat fixed center;*/
    /*background-size: cover;*/
    /*filter: blur(1px);*/
}
#intro:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1) url("/images/intro-bg.jpg") no-repeat fixed center;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

#intro div {
    width: 50%;
    padding: 5%;
}

#intro .container p {
    margin-bottom: 20px;
}

#intro #avatar {
    display: flex;
    justify-content: center;
}

#intro #avatar img {
    width: 40vw;
    max-width: 350px;
    border-radius: 30px;
    box-shadow: var(--b-shadow);
}

#intro .container #social-net a {
    display: inline-block;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    box-shadow: var(--b-shadow);
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 0 5px;
    border-radius: var(--b-radius);
    cursor: pointer;
}

#skills .container #skills-list {
    display: flex;
    justify-content: space-between;
}

#skills .container #skills-list .skill-item {
    width: 25vw;
    text-align: center;
}

#skills .container #skills-list .skill-item ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#skills .container #skills-list .skill-item li {
    background-color: var(--c-green);
    border-style: none;
    border-radius: var(--b-radius);
    box-shadow: var(--b-shadow);
    color: var(--c-yellow);
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#contact #contact-list {
    display: flex;
    justify-content: center;
}

#works .container .tab-bar .bar-btn {
    background-color: transparent;
    color: var(--c-grey);
    border-radius: var(--b-radius);
    border-style: none;
    padding: 8px;
    width: 49.8%;
}

#works .container .tab-bar .bar-btn:hover {
    background-color: var(--c-grey);
    color: var(--c-orange);
}

#works .container .tab-bar .bar-btn-active {
    background-color: var(--c-green);
    color: var(--c-yellow);
}

#contact #contact-list li {
    width: 15vw;
    height: 20vh;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    box-shadow: var(--b-shadow);
    border-radius: var(--b-radius);
    padding: 10px 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#contact #contact-list li i {
    font-size: var(--s-large);
}

#contact #contact-list li button {
    margin-top: auto;
    border-radius: var(--b-radius);
    background-color: var(--c-green);
    border-style: none;
    color: var(--c-yellow);
    padding: 6px 0;
}

#contact #contact-list li button:hover {
    background-color: var(--c-yellow);
    color: var(--c-green);
    cursor: pointer;
}

#nav {
    display: none;
}

#copyright {
    position: fixed;
    width: 100%;
    font-size: var(--s-small);
    bottom: 0;
    text-align: center;
    background-color: var(--c-yellow);
}