@import url('https://fonts.googleapis.com/css?family=Poppins:300,600,900&display=swap');

/*global styles*/
:root {
    /*color schemes*/
    --c-basic0: #7D6655;
    --c-basic1: #978475;
    --c-basic2: #B1A295;
    --c-basic3: #CBC1B6;
    --c-basic4: #E5DFD6;
    --c-basic5: #FFFDF6;

    --c-box-back: rgba(0,0,0,0.3);

    --c-back1: #594676;
    --c-back2: #383F69;
    --c-back3: #415449;
    --c-back4: #656451;
    --c-back5: #5F473E;
    --c-back6: #592A30;

    /*font weight*/
    --w-normal: 300;
    --w-thick: 600;
    --w-thicker: 900;

    /*font size*/
    --s-small: .9rem;
    --s-regular: 1.1rem;
    --s-large: 1.4rem;
    --s-larger: 1.8rem;

    /*effects*/
    --b-radius: 10px;
    --b-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

html {
    font-size: 15px;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: var(--w-normal);
    margin: 0;
    padding: 0;
}

body {
    color: var(--c-basic1);
    cursor: default;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    color: var(--c-basic2);
    font-size: var(--s-larger);
    font-weight: var(--w-thicker);
    margin: 15px 0;
    text-decoration: underline wavy var(--c-basic0) 5px;
}

h2 {
    color: var(--c-basic3);
    font-size: var(--s-large);
    font-weight: var(--w-thick);
    margin: 10px 0;
}

h3 {
    color: var(--c-basic4);
    font-size: var(--s-regular);
    font-weight: var(--w-thick);
    margin: 5px 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

b {
    color: var(--c-basic5);
}

button {
    background-color: var(--c-box-back);
    border-radius: var(--b-radius);
    border-style: none;
    color: var(--c-basic1);
    cursor: pointer;
    padding: 8px;
    transition-duration: 0.3s;
}

button:hover {
    box-shadow: var(--b-shadow);
    color: var(--c-basic3);
    transform: scale(1.05);
    transition-duration: 0.3s;
}

i {
    font-size: var(--s-larger);
}

p {
    font-size: var(--s-regular);
    transition-duration: 0.3s;
}

p:hover, i:hover {
    color: var(--c-basic5);
    transform: scale(1.05);
    transition-duration: 0.3s;
}

section {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

ul {
    list-style: none;
}

.container {
    max-height: 90%;
    min-height: 60%;
    width: 90%;
}

.hidden {
    display: none;
}

.no-decor {
    text-decoration: none;
}

.summary {
    text-align: center;
}

.tab-bar {
    background-color: var(--c-box-back);
    border-radius: var(--b-radius);
    box-shadow: var(--b-shadow);
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.tab-content {
    margin-top: 3%;
}

.tab-content li {
    background-color: var(--c-box-back);
    border-radius: var(--b-radius);
    padding: 2%;
    transition-duration: 0.3s;
    width: 24%;
}

.tab-content li:hover {
    box-shadow: var(--b-shadow);
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.timeline {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.timeline::after {
    background-color: var(--c-box-back);
    border-radius: var(--b-radius);
    bottom: -10vh;
    box-shadow: var(--b-shadow);
    content: "";
    left: 50%;
    margin-left: -3px;
    position: absolute;
    top: 0;
    width: 6px;
}

.tl-container {
    padding: 5px 40px;
    position: relative;
    width: 40%;
}

.tl-left {
    left: 2%;
}

.tl-left::before {
    border: solid;
    border-color: transparent transparent transparent var(--c-box-back);
    border-width: 10px 0 10px 10px;
    content: "";
    height: 0;
    position: absolute;
    right: 30px;
    top: 22px;
    width: 0;
    z-index: 1;
}

.tl-right {
    left: 52%;
}

.tl-right::before {
    border: solid;
    border-color: transparent var(--c-box-back) transparent transparent;
    border-width: 10px 10px 10px 0;
    content: "";
    height: 0;
    left: 30px;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
}

.tl-right::after {
    left: -16px;
}

.tl-content {
    background-color: var(--c-box-back);
    border-radius: var(--b-radius);
    padding: 5%;
    position: relative;
    transition-duration: 0.3s;
}

.tl-content:hover {
    box-shadow: var(--b-shadow);
    transform: scale(1.05);
    transition-duration: 0.3s;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--c-box-back);
    border-radius: var(--b-radius);
    box-shadow: var(--b-shadow);
}

::-webkit-scrollbar-thumb {
    background-color: var(--c-box-back);
    border-radius: var(--b-radius);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--c-box-back);
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/*other styles*/
#intro {
    background-color: var(--c-back1);
}

#intro::after {
    background: url("/images/shizuka2.png") no-repeat;
    background-size: contain;
    bottom: 0;
    content: "";
    height: 65%;
    left: 50%;
    position: absolute;
    width: 50%;
    z-index: 1;
}

#intro div {
    padding: 5%;
    width: 50%;
}

#intro .container #info {
    align-items: center;
    display: flex;
}

#intro .container p {
    margin-bottom: 20px;
}

#intro .container #social-net {
    width: 90%;
}

#intro .container #social-net a {
    background-color: var(--c-box-back);
    border-radius: var(--b-radius);
    cursor: pointer;
    display: inline-block;
    height: 35px;
    padding: 5px;
    text-align: center;
    transition-duration: 0.3s;
    width: 35px;
    margin: 0 5px;
}

#intro .container #social-net a:hover {
    box-shadow: var(--b-shadow);
    transform: scale(1.05);
    transition-duration: 0.3s;
}

#intro #avatar {
    display: flex;
    justify-content: center;
}

#intro #avatar img {
    border-radius: var(--b-radius);
    transition-duration: 0.3s;
    width: 50%;
}

#intro #avatar img:hover {
    box-shadow: var(--b-shadow);
    transform: scale(1.05);
    transition-duration: 0.3s;
}

#obj {
    background-color: var(--c-back2);
}

#exp {
    background-color: var(--c-back3);
}

#skills {
    background-color: var(--c-back4);
}

#skills .container #skills-list {
    display: flex;
    justify-content: space-between;
}

#skills .container #skills-list .skill-item {
    text-align: center;
    width: 33%;
}

#skills .container #skills-list .skill-item ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills .container #skills-list .skill-item li {
    background-color: var(--c-box-back);
    border-radius: var(--b-radius);
    border-style: none;
    color: var(--c-basic1);
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
    transition-duration: 0.3s;
}

#skills .container #skills-list .skill-item li:hover {
    box-shadow: var(--b-shadow);
    color: var(--c-basic3);
    transform: scale(1.05);
    transition-duration: 0.3s;
}

#edu {
    background-color: var(--c-back5);
}

#works {
    background-color: var(--c-back1);
}

#works .container .tab-bar .bar-btn {
    background-color: transparent;
    color: var(--c-basic1);
    border-radius: var(--b-radius);
    border-style: none;
    font-size: var(--s-regular);
    padding: 8px;
    text-align: center;
    width: 48.5%;
}

#works .container .tab-bar .bar-btn:hover {
    background-color: var(--c-box-back);
    color: var(--c-basic3);
}

#works .container .tab-bar .bar-btn-active {
    background-color: var(--c-box-back);
    color: var(--c-basic5);
}

#works .container .tab-content ul li .view-proj {
    display: flex;
    margin-top: 5%;
}

#works .container .tab-content ul li .view-proj a {
    text-align: center;
    width: 100%;
}

#works .container .tab-content ul li .view-proj button {
    width: 95%;
}

#acts {
    background-color: var(--c-back2);
}

#cert {
    background-color: var(--c-back3);
}

#hos-aws {
    background-color: var(--c-back4);
}

#interests {
    background-color: var(--c-back5);
}

#contact {
    background-color: var(--c-back1);
}

#contact #contact-list {
    display: flex;
    justify-content: center;
}

#contact #contact-list li {
    background-color: var(--c-box-back);
    border-radius: var(--b-radius);
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    transition-duration: 0.3s;
    width: 15vw;
}

#contact #contact-list li:hover {
    box-shadow: var(--b-shadow);
    transform: scale(1.05);
    transition-duration: 0.3s;
}

#contact #contact-list li i {
    font-size: var(--s-large);
}

#contact #contact-list li button {
    margin-top: auto;
}

#nav {
    bottom: 3.5%;
    position: fixed;
    text-align: center;
    z-index: 2;
    width: 100vw;
}

#nav ul {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

#nav ul::-webkit-scrollbar {
    display: none;
}

#nav ul .nav-item {
    background-color: var(--c-box-back);
    border-radius: var(--b-radius);
    margin: 0 .3%;
    padding: .5rem;
    animation: scale 0.5s ease-in-out;
    transition-duration: 0.3s;
}

#nav ul .nav-item:hover {
    box-shadow: var(--b-shadow);
    color: var(--c-basic3);
    transform: scale(1.05);
    transition-duration: 0.3s;
}

#nav ul .nav-item a {
    display: flex;
    flex-direction: column;
}

#nav ul .nav-active {
    background-color: var(--c-basic0);
    color: var(--c-basic5);
}

#copyright {
    background-color: var(--c-box-back);
    bottom: 0;
    font-size: var(--s-small);
    position: fixed;
    text-align: center;
    width: 100vw;
    z-index: 2;
}

@media only screen and (max-width: 900px) {
    .tab-content li {
        width: 46.5%;
    }

    #intro::after {
        height: 50%;
        width: 20%;
        left: 0;
    }

    #nav ul {
        justify-content: normal;
    }
}

@media only screen and (max-width: 600px) {
    .tab-content li {
        width: 96%;
    }

    #intro div {
        padding: 5%;
        width: 100%;
    }

    #skills .container #skills-list {
        flex-direction: column;
    }

    #skills .container #skills-list .skill-item {
        width: 100%;
    }

    #contact #contact-list {
        flex-direction: column;
        align-items: center;
    }

    #contact #contact-list li {
        width: 80%;
        justify-content: center;
    }
}